@inherits LayoutComponentBase

<Layout Style="height: 100%">
    <Layout>
        <Header>
            <Title Level="1">Turbo Turtle</Title>
        </Header>
        <Content Style="padding: 0 50px;">
            @Body
        </Content>
    </Layout>
</Layout>


@code {
    bool collapsed = true;

    void toggle()
    {
        collapsed = !collapsed;
    }
    
    void OnCollapse(bool isCollapsed)
    {
        Console.WriteLine($"Collapsed: {isCollapsed}");
    }
}
